body {
    background-color: rgb(20, 20, 56);
    color: white;
    font-family: 'PT Serif', sans-serif;
}
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .contact-container h2 {
    font-size: 24px;
    color: #c7bcbc;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #bfb6b6;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #8c8080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #a29292;
  }
  
  .contact-details {
    text-align: center;
    margin-top: 40px;
  }
  
  .contact-details h3 {
    font-size: 20px;
    color: #918484;
  }
  
  .contact-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .contact-details a {
    display: block;
    font-size: 16px;
    color: #9f9595;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #8e8181;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .social-icons li a:hover {
    background-color: #a29696;
  }
  